<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airline.dao.RegisterDao">
    <select id="isMailUnique" parameterType="String" resultType="Integer">
        SELECT id FROM customerAccount WHERE email=#{mail};
    </select>

    <select id="isTelUnique" resultType="Integer">
        SELECT id FROM customerAccount WHERE tel_country=#{telCountry} AND tel=#{tel};
    </select>

    <insert id="preRegMail" parameterType="com.airline.entity.MailAccount">
        INSERT INTO preRegister (email, password, platform, verifyCode, expire) VALUES (#{mail}, #{password}, #{platform}, #{verifyCode}, ADDTIME(utc_timestamp(), '0 00:30:00'));
    </insert>

    <insert id="preRegTel" parameterType="com.airline.entity.TelAccount">
        INSERT INTO preRegister (tel_country, tel, password, platform, verifyCode, expire) VALUES (#{telCountry}, #{tel}, #{password}, #{platform}, #{verifyCode}, ADDTIME(utc_timestamp(), '0 00:10:00'));
    </insert>
</mapper>